{%  extends 'base.html.twig' %}

{% block body %}

        {% for serie in series %}
            <a href="{{ path('app_home', {'id' : 3 }) }}"><img src="{{ asset('assets/posters/series/' ~ serie.poster) }}" width="300px" loading="lazy" /></a>
        {% endfor %}
{% endblock %}